<template>
  <div id="app">
    <p>{{usuario.nombre}}</p>
    <p>{{usuario.edad}}</p>
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Hola como estan" puto="el que lo lea"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import axios from 'axios'
export default {
  name: 'app',
  components: {
    HelloWorld
  },
  data: ()=>{
    return{
      usuario:{
        nombre:null,
        edad:null
      }
    }
  },async mounted(){
    let query =await axios.get(`http://localhost:2000/mostrarUsuarios`)
    this.usuario = query.data[0]
    console.log(this.usuario)
  }
  
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
